

<!-- Navbar -->
{{nav-bar dashboard=true redirect_to_login=(action "redirect_to_login") redirect_to_signup=(action "redirect_to_signup")}}
<!-- Navbar -->
<br>
<div class="text-center" style="background-color: black;">
<img  src="assests/images/prerequisite.gif" >
</div>
<br> 


<br>
<H1>What We Do Here?</H1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://cdn0.iconfinder.com/data/icons/economico-a-business-icon-set/74/paper-todo-list-256.png" class="card-img-top" alt=""/>
      <div class="card-body">
        <h5 class="card-title">Maintain your Task list</h5>
        <p class="card-text">
          Here we provide you the opportunity to Maintain your prerequisite in our web application.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://nationalgriefawarenessday.com/wp-content/uploads/2018/01/todo-list-pdf-il-570xn.484140582-53wf-300x300.jpg" class="card-img-top" alt="update"/>
      <div class="card-body">
        <h5 class="card-title">Update Your Existing Task </h5>
        <p class="card-text">
          Here we provide you the availability of updated your Task.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://todo-list-kodeweb21.netlify.app/assets/delete.svg" class="card-img-top" alt="delete"/>
      <div class="card-body">
        <h5 class="card-title">Delete Your Finished Work</h5>
        <p class="card-text">Here we provide you facility to neglect your finished task from your list.</p>
      </div>
    </div>
  </div>
</div>